.codex
node_modules
.turbo
.next
dist
apps/db/data
.env
.env.*

#.vscode/settings.json は拡張機能の共通設定を含むため除外しない.

# intellij用.
.idea

# TypeScript cache
*.tsbuildinfo

apps/web/public/swe-worker-development.js
apps/web/public/sw.js
apps/web/certificates