.codex
node_modules
.turbo
.next
dist
apps/db/data
.env
.env.*

#.vscode/settings.json は拡張機能の共通設定を含むため除外しない.

# intellij用.
.idea

# TypeScript cache
*.tsbuildinfo

# PWA用
apps/web/public/swe-worker-development.js
apps/web/public/sw.js

# nextのlocalHTTPS機能で生成される証明書を無視.
apps/web/certificates

# macOS
.DS_Store

# Windows
Thumbs.db
