@import "tailwindcss";

@theme {
    --color-white: #ffffff;
    --color-dark: #1e1e1e;
    --color-primary: #3b6e9b;
    --color-primary-lite: #91acc4;
    --color-primary-lite2: #f3f7f8;
}

body {
    font-family: var(--font-anonymous-pro), var(--font-ibm-plex-sans-jp), sans-serif;
}
